/* Manrope Regular 400 */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
/* Manrope Medium 500 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
/* Manrope Semi-bold 600 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
/* Manrope Extra-bold 800 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

/* Nunito Sans Semi-bold 600 */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Nunito+Sans:wght@600&family=Roboto:wght@100&display=swap');

/* TAILWIND CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: auto;
  font-family: 'Manrope', sans-serif;
}

/** MAIN CONTAINER **/
.container {
  width: 100%;
  height: auto;
}

/** HEADER **/
.header {
  width: 100%;
  height: 1500px;
  background: #000;
  margin-bottom: 30px;
}

/** HEADER BAR **/
.headerWrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: auto;
  margin: auto;
}

.logoWrap {
  display: flex;
  align-items: flex-start;
  width: 20%;
  height: auto;
  margin-top: 20px;
}

.logoWrap img {
  width: 35%;
  height: auto;
}

.logoWrap img:hover {
  cursor: pointer;
}

.searchBtnWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #FFF;
  width: 28%;
  margin-top: 25px;
  margin-right: 70px;
}

.placesBtn1,
.expBtn1 {
  height: 40px;
  background: inherit;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.placesBtn2,
.expBtn2 {
  height: 40px;
  background: inherit;
  color: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  border: none;
  color: #FFF;
}

.placesBtn2:hover,
.expBtn2:hover {
  opacity: 0.7;
  cursor: pointer;
}

.placesBtn2::after,
.expBtn2::after {
  width: 100%;
  left: 0;
}

.placesBtn2:hover::after {
  content: '';
  position: absolute;
  margin-top: 30px;
  margin-left: 800px;
  width: 5px;
  height: 2px;
  background-color: lightgrey;
  transition: all ease-in-out .2s;
}

.expBtn2:hover::after {
  content: '';
  position: absolute;
  margin-top: 30px;
  margin-left: 935px;
  width: 5px;
  height: 2px;
  background-color: lightgrey;
  transition: all ease-in-out .2s;
}

.onlineExpBtn {
  height: 32px;
  color: #FFF;
  text-decoration: none;
  margin-top: 10px;
}

.onlineExpBtn:hover {
  opacity: 0.7;
  cursor: pointer;
}

.accountWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #FFF;
  width: 15%;
  margin-top: 20px;
}

.hostBtn {
  font-size: 14px;
  font-weight: 600;
  width: 130px;
  height: 40px;
  padding: 11px;
  text-align: center;
  margin-right: 5px;
}

.globeBtn {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  margin-left: -10px;
  margin-right: 5px;
}

.globeIcon {
  font-size: 18px;
  margin-top: 2px;
}

.hostBtn:hover,
.globeBtn:hover {
  background: rgba(221, 231, 238, 0.15);
  border-radius: 30px;
  cursor: pointer;
}

.accountBtn {
  width: 80px;
  height: 40px;
  background: #FFF;
  border: none;
  border-radius: 30px;
}

.menuBarsIcon {
  font-size: 17px;
  color: dimgrey;
  margin-bottom: 5px;
}

.userIcon {
  font-size: 28px;
  color: dimgrey;
  margin-top: 5px;
  margin-left: 12px;
}

.accountBtn:hover {
  cursor: pointer;
}

/** SEARCH BARS **/
.searchBarWrapper {
  display: flex;
  width: 100%;
}

.placesToStay {
  display: flex;
  justify-content: space-around;
  width: 800px;
  height: 65px;
  background: #FFF;
  border-radius: 35px;
  margin: auto;
  margin-top: 20px;
}

.location {
  width: 30%;
  background: inherit;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  border-radius: 35px;
  padding-left: 30px;
  text-align: left;
}

.guests {
  width: 30%;
  background: inherit;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  border-radius: 35px;
  padding-left: 25px;
  text-align: left;
}

.checkIn,
.checkOut {
  width: 20%;
  background: inherit;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  border-radius: 35px;
  padding-left: 25px;
  text-align: left;
}

.location:hover,
.checkIn:hover,
.checkOut:hover,
.guests:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.searchBtn1 {
  position: absolute;
  margin-top: 7px;
  margin-left: 725px;
  width: 50px;
  height: 50px;
  background: #e32750;
  color: #FFF;
  border: none;
  border-radius: 40px;
  transition: 0.25s ease-in;
  padding: 15px;
}

.searchBtn1:hover {
  background: #aa2a64;
  cursor: pointer;
}

.experiencesBar {
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 65px;
  background: #FFF;
  border-radius: 35px;
  margin: auto;
  margin-top: 20px;
}

.location2 {
  width: 50%;
  background: inherit;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  border-radius: 35px;
  padding-left: 30px;
  text-align: left;
}

.date {
  width: 50%;
  background: inherit;
  font-family: 'Nunito Sans', sans-serif;
  border: none;
  border-radius: 35px;
  padding-left: 25px;
  text-align: left;
}

.location2:hover,
.date:hover {
  background: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.searchBtn2 {
  position: absolute;
  margin-top: 7px;
  margin-left: 737px;
  width: 50px;
  height: 50px;
  background: #e32750;
  color: #FFF;
  border: none;
  border-radius: 40px;
  transition: 0.25s ease-in;
  padding: 15px;
}

.searchBtn2:hover {
  background: #aa2a64;
  cursor: pointer;
}

/** HERO IMAGE **/
.heroDiv {
  width: 100%;
  height: auto;
  text-align: center;
}

.heroDiv h3 {
  position: absolute;
  margin-top: 385px;
  margin-left: 810px;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #222;
}

.announcement {
  position: absolute;
  margin-top: 455px;
  margin-left: 685px;
  background: #FFF;
  width: 260px;
  height: 55px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 18px;
  border: 1px solid #000;
  border-radius: 30px;
  color: #222;
}

.announcement:hover {
  background: #f3f4f5; /* anti-flash white */
  cursor: pointer;
}

.playIcon {
  font-size: 13px;
  margin-top: 7px;
  margin-right: 10px;
}

.heroImage {
  width: 85%;
  height: 750px;
  object-fit: fill;
  border-radius: 10px;
  margin-top: 30px;
}

.heroDivText {
  display: flex;
  justify-content: space-between;
  width: 85%;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
}

.heroDivText h2 {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #FFF;
  margin-top: 30px;
  text-align: left;
}

.learnMore {
  position: relative;
  width: 150px;
  height: 50px;
  background: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
}

.learnMore:hover {
  background: #f3f4f5;
  cursor: pointer;
}

.heroDivTwo {
  width: inherit;
  height: inherit;
}

.heroDivTwo h2 {
  position: absolute;
  margin-top: 455px;
  margin-left: 585px;
  color: #FFF;
  font-size: 50px;
}

.heroDivTwo h3 {
  position: absolute;
  margin-top: 565px;
  margin-left: 910px;
  z-index: 2;
  font-family: 'Manrope', sans-serif;
  font-size: 20px;
  font-weight: 800;
  background-image: linear-gradient(to right, #4d0585, #b3277f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.heroDivTwo h3:hover {
  cursor: pointer;
}

.heroDivTwo button {
  position: absolute;
  margin-top: 550px;
  margin-left: 730px;
  width: 170px;
  height: 55px;
  background: #FFF;
  border: none;
  border-radius: 25px;
}

.heroDivTwo button:hover {
  background: #FFF;
  cursor: pointer;
}

.heroImageTwo {
  width: 85%;
  height: 750px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 110px;
}

/** EXPLORE NEARBY **/
.nextTrip {
  width: 100%;
  height: auto;
  margin-top: 480px;
  margin-bottom: 50px;
}

.nextTrip h2 {
  font-size: 40px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  padding-left: 140px;
  margin-bottom: 40px;
}

.nextTripWrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: auto;
  margin: auto;
}

.icon {
  display: flex;
  flex-direction: column;
  width: 385px;
  height: 550px;
}

.icon:hover {
  cursor: pointer;
}

.icon img {
  width: 100%;
  height: 250px;
  object-fit: fill;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.portlandHours h3,
.seattleHours h3,
.bendHours h3,
.eugeneHours h3 {
  font-size: 35px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  margin-left: 20px;
}

.portlandHours p,
.seattleHours p,
.bendHours p,
.eugeneHours p {
  font-size: 19px;
  color: rgba(255, 255, 255, 0.9);
  margin-top: 5px;
  margin-left: 20px;
}

.portlandHours {
  width: 100%;
  height: 250px;
  background: rgb(180, 30, 100);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: left;
}

.seattleHours {
  width: 100%;
  height: 250px;
  background: #e32750;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.bendHours {
  width: 100%;
  height: 250px;
  background: #e03c31;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.eugeneHours {
  width: 100%;
  height: 250px;
  background: #ce2c41;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/** LIVE ANYWHERE **/
.giftCards {
  width: 100%;
  height: auto;
  margin-bottom: 85px;
}

.giftCardsWrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: auto;
}

.giftCardsWrapper img {
  width: 100%;
  height: 780px;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.giftCardContent {
  position: absolute;
  margin-top: 300px;
  margin-left: 130px;
  width: 450px;
  text-align: center;
}

.giftCardContent p {
  font-size: 22px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
}

.giftCardContent h2 {
  font-size: 90px;
  font-weight: 600;
  line-height: 1.1;
  color: rgba(255, 255, 255, 0.9);
}

.giftCardContent button {
  background: rgba(3, 3, 3, 0.85);
  color: #FFF;
  border: none;
  border-radius: 7px;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 120px;
  height: 50px;
  margin-top: 15px;
}

.giftCardContent button:hover {
  background: #000;
  cursor: pointer;
}

/** DISCOVER **/
.discover {
  width: 100%;
  height: auto;
  background: #FFF;
  margin-bottom: 100px;
}

.discover h1 {
  font-size: 40px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 140px;
  margin-bottom: 50px;
}

.discoverWrapper {
  display: flex;
  justify-content: space-between;
  width: 85%;
  height: auto;
  margin: auto;
}

.experiences {
  width: 49%;
  height: auto;
}

.onlineExperiences {
  width: 49%;
  height: auto;
}

.experiences img,
.onlineExperiences img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.experiencesContent,
.onlineExperiencesContent  {
  position: absolute;
  margin-top: 70px;
  margin-left: 100px;
  width: 350px;
}

.experiencesContent h3,
.onlineExperiencesContent h3 {
  font-size: 50px;
  font-weight: 800;
  color: #FFF;
}

.experiencesContent button {
  width: 150px;
  height: 50px;
  background: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
}

.onlineExperiencesContent button {
  width: 200px;
  height: 50px;
  background: #FFF;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 7px;
  margin-top: 20px;
}

.experiencesContent button:hover,
.onlineExperiencesContent button:hover {
  background: #f3f4f5;
  cursor: pointer;
}

/** TRY HOSTING **/
.hosting {
  width: 100%;
  height: auto;
  margin-bottom: 140px;
}

.hostingWrapper {
  width: 85%;
  height: auto;
  margin: auto;
}

.hostingWrapper img {
  width: 100%;
  height: 810px;
  border-radius: 15px;
}

.bannerContent {
  position: absolute;
  margin-top: 100px;
  margin-left: 100px;
  width: 250px;
  color: #FFF;
}

.bannerContent h2 {
  font-size: 80px;
  font-weight: 500px;
  line-height: 0.98;
}

.bannerContent button {
  width: 150px;
  height: 45px;
  background: #FFF;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 250px;
}

.bannerContent button:hover {
  background: #f3f4f5;
  cursor: pointer;
}

/** INSPIRATION **/
.inspiration {
  width: 100%;
  height: auto;
  background: #FFF;
}

.inspiration h2 {
  font-size: 22px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 140px;
}

.inspirationWrapper {
  display: flex;
  width: 85%;
  margin: auto;
}

.inspirationWrapper button {
  margin-right: 20px;
}

.divider {
  height: 3px;
  width: 85%;
  border-bottom: 1px solid lightgrey;
  margin-left: 143px;
}

.artsBtn1:hover,
.outdoorBtn1:hover,
.cabinsBtn1:hover,
.beachBtn1:hover,
.popularBtn1:hover,
.uniqueBtn1:hover {
  background: #f4f4f4;
  cursor: default;
}

.artsBtn2:hover,
.outdoorBtn2:hover,
.cabinsBtn2:hover,
.beachBtn2:hover,
.popularBtn2:hover,
.uniqueBtn2:hover {
  background: #f4f4f4;
  cursor: pointer;
}

.artsBtn2:focus,
.outdoorBtn2:focus,
.cabinsBtn2:focus,
.beachBtn2:focus,
.popularBtn2:focus,
.uniqueBtn2:focus {
  cursor: default;
}

.artsBtn2:active,
.outdoorBtn2:active,
.cabinsBtn2:active,
.beachBtn2:active,
.popularBtn2:active,
.uniqueBtn2:active {
  transition-duration: 0.1s;
  transform: scale(0.97);
  cursor: pointer;
}

.artsBtnWrapper {
  width: 210px;
  height: 50px;
  margin-left: -12px;
}
.artsBtn1 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  width: 210px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  transition-duration: 0.1s;
  transform: scale(0.99);
}
.artsBorderBottom {
  width: 185px;
  height: 7px;
  background: #FFF;
  border-bottom: 2px solid #000;
  transition-duration: 0.1s;
  margin: auto;
}
.artsBtn2 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  width: 210px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}

.outdoorBtnWrapper {
  width: 250px;
  height: 50px;
}
.outdoorBtn1 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  width: 250px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  transition-duration: 0.1s;
  transform: scale(0.99);
}
.outdoorBorderBottom {
  width: 230px;
  height: 7px;
  background: #FFF;
  border-bottom: 2px solid #000;
  transition-duration: 0.1s;
  margin: auto;
}
.outdoorBtn2 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  width: 250px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}

.cabinsBtnWrapper {
  width: 130px;
  height: 50px;
}
.cabinsBtn1 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  width: 130px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  transition-duration: 0.1s;
  transform: scale(0.99);
}
.cabinsBorderBottom {
  width: 105px;
  height: 7px;
  background: #FFF;
  border-bottom: 2px solid #000;
  transition-duration: 0.1s;
  margin: auto;
}
.cabinsBtn2 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  width: 130px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}

.beachBtnWrapper {
  width: 150px;
  height: 50px;
}
.beachBtn1 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  width: 150px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  transition-duration: 0.1s;
  transform: scale(0.99);
}
.beachBorderBottom {
  width: 125px;
  height: 7px;
  background: #FFF;
  border-bottom: 2px solid #000;
  transition-duration: 0.1s;
  margin: auto;
}
.beachBtn2 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  width: 150px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}

.popularBtnWrapper {
  width: 160px;
  height: 50px;
}
.popularBtn1 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  width: 160px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  transition-duration: 0.1s;
  transform: scale(0.99);
}
.popularBorderBottom {
  width: 135px;
  height: 7px;
  background: #FFF;
  border-bottom: 2px solid #000;
  transition-duration: 0.1s;
  margin: auto;
}
.popularBtn2 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  width: 160px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}

.uniqueBtnWrapper {
  width: 110px;
  height: 50px;
}
.uniqueBtn1 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
  transition-duration: 0.1s;
  transform: scale(0.99);
}
.uniqueBorderBottom {
  width: 85px;
  height: 7px;
  background: #FFF;
  border-bottom: 2px solid #000;
  transition-duration: 0.1s;
  margin: auto;
}
.uniqueBtn2 {
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.55);
  width: 110px;
  height: 40px;
  background: inherit;
  border: none;
  border-radius: 10px;
  margin-top: 5px;
}

/** ArtLocation **/
.artLocation {
  width: 100%;
  height: auto;
  background: inherit;
  margin-bottom: 65px;
}

.artWrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background: inherit;
  width: 85%;
  margin: auto;
}

.artWrapper button {
  font-family: 'Manrope', sans-serif;
  border: none;
  background: inherit;
  text-align: left;
  height: 70px;
}

.artWrapper button:hover {
  background: #FFF;
  cursor: pointer;
}

/** OutdoorLocation **/
.outdoorLocation {
  width: 100%;
  height: auto;
  background: inherit;
  margin-bottom: 65px;
}

.outdoorWrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background: inherit;
  width: 85%;
  margin: auto;
}

.outdoorWrapper button {
  font-family: 'Manrope', sans-serif;
  border: none;
  background: inherit;
  text-align: left;
  height: 70px;
}

.outdoorWrapper button:hover {
  background: #FFF;
  cursor: pointer;
}

/** CabinsLocation **/
.cabinsLocation {
  width: 100%;
  height: auto;
  background: inherit;
  margin-bottom: 65px;
}

.cabinsWrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background: inherit;
  width: 85%;
  margin: auto;
}

.cabinsWrapper button {
  font-family: 'Manrope', sans-serif;
  border: none;
  background: inherit;
  text-align: left;
  height: 70px;
}

.cabinsWrapper button:hover {
  background: #FFF;
  cursor: pointer;
}

/** BeachLocation **/
.beachLocation {
  width: 100%;
  height: auto;
  background: inherit;
  margin-bottom: 65px;
}

.beachWrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background: inherit;
  width: 85%;
  margin: auto;
}

.beachWrapper button {
  font-family: 'Manrope', sans-serif;
  border: none;
  background: inherit;
  text-align: left;
  height: 70px;
}

.beachWrapper button:hover {
  background: #FFF;
  cursor: pointer;
}

/** PopularLocation **/
.popularLocation {
  width: 100%;
  height: auto;
  background: inherit;
  margin-bottom: 65px;
}

.popularWrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background: inherit;
  width: 85%;
  margin: auto;
}

.popularWrapper button {
  font-family: 'Manrope', sans-serif;
  border: none;
  background: inherit;
  text-align: left;
  height: 70px;
}

.popularWrapper button:hover {
  background: #FFF;
  cursor: pointer;
}

/** UniqueLocation **/
.uniqueLocation {
  width: 100%;
  height: auto;
  background: inherit;
  margin-bottom: 65px;
}

.uniqueWrapper {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  background: inherit;
  width: 85%;
  margin: auto;
}

.uniqueWrapper button {
  font-family: 'Manrope', sans-serif;
  border: none;
  background: inherit;
  text-align: left;
  height: 70px;
}

.uniqueWrapper button:hover {
  background: #FFF;
  cursor: pointer;
}

/** Inspiration location columns **/
.columnOne {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.columnTwo {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.columnThree {
  display: flex;
  flex-direction: column;
  width: 25%;
}

.columnFour {
  display: flex;
  flex-direction: column;
  width: 25%;
}

/** FOOTER **/
.footer {
  width: 100%;
  height: 555px;
  background: #f4f4f4;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  background: inherit;
  width: 85%;
  height: 500px;
  margin: auto;
}

.footer h2 {
  font-size: 14px;
  margin-top: 40px;
}

.footer a {
  color: #333;
  font-size: 14px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer p {
  color: #333;
  font-size: 14px;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 18px;
  width: 25%;
  height: 420px;
}

.community {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 18px;
  width: 25%;
  height: 320px;
}

.host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 18px;
  width: 25%;
  height: 265px;
}

.support {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 18px;
  width: 25%;
  height: 230px;
}

/* COPYRIGHT SECTION */
.copyrightWrapper {
  display: flex;
  justify-content: space-between;
  background: inherit;
  width: 85%;
  border-top: 1px solid lightgrey;
  margin: auto;
}

.copyright p {
  margin-top: 20px;
}

.copyright a {
  margin: 5px;
}

/* SOCIAL */
.languageBtn {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  text-decoration: underline;
  width: 240px;
  height: 50px;
  background: #f4f4f4;
  border: none;
  margin-top: 5px;
}

.languageBtn:hover {
  cursor: pointer;
}

.globeIconTwo {
  width: 50px;
  font-size: 18px;
  margin-right: 10px;
}

.currencyBtn {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  text-decoration: underline;
  width: 100px;
  height: 50px;
  background: #f4f4f4;
  border: none;
  margin-top: 5px;
}

.currencyBtn:hover {
  cursor: pointer;
}

.dollarIcon {
  font-size: 15px;
  margin-top: 2px;
  margin-right: 10px;
}

.social i {
  margin-right: 7px;
}

.social a {
  font-size: 18px;
  width: 20px;
  margin-top: 20px;
  margin-left: 20px;
}
